body{
	text-align: center;
}
li{
	float: left;
	list-style: none;
}
a{
	text-decoration: none;
}



.topbar{
	height: 40px;
	background-color: #333333;
}
.topbara{
	width: 1226px;
	margin: 0 auto;
}
.topbaraa{
	float: left;
	color: #B0B0B0;
	padding-top: 10px;
}
.topbaraa ul li a{
	color: #B0B0B0;
	padding-right: 15px;
	
}
.topbarab{
	float: right;
	padding-top: 10px;
}
.topbarab ul li a{
	color: #B0B0B0;
	padding-left: 15px;
}



.header{
	height: 100px;
}
.headera{
	width: 1226px;
	margin: 0 auto;
}
.headeraa img{
	display: inline-block;
	float: left;
	margin-top: 20px;
}
.headerab img{
	display: inline-block;
	float: left;
	margin-top: 15px;
}
.headerab ul li{
	padding-left: 20px;
	margin-top: 40px;
}
.headerab ul li a{
	font-size: 18px;
}
.headerac{
	width: 280px;
	height: 50px;
	float: right;
}
.headeraca{
	display: inline-block;
	
}
.headeraca input{
	height: 40px;
	width: 200px;
	margin-top: 25px;
}
.headeracb{
	float: right;
	padding-top: 25px;
}
.headeracb img{
	width: 40px;
}





.haibao{
	height: 460px;
}
.haibaoa{
	width: 1226px;
	margin: 0 auto;
	background-image: url(../img/haibao.jpg);
}
.haibaoleft{
	height: 460px;
	width: 225px;
	background-color: #5C5C5E;
}
.haibaoleft table tr td{
	color: white;
}
.haibaoleft table{
	width: 200px;
	height: 420px;
	position: relative;
	top: 25px;
}
.haibaoleft table tr td:nth-child(1){
	text-align: left;
	padding-left: 25px;
}

.foot{
	position: relative;
	top: 10px;
	font-size: 13px;
}
